@model GummiBearKingdom.Models.Product

@{
  ViewData["Title"] = $"Gummi Kingdom - {Model.Name}";
  Layout = "_Layout";
}

<nav class="main-nav">
  <a href=@Url.Action("Index", "Home")>Home</a>
  <a href=@Url.Action("Index", "Products")>Products</a>
  <a class="active">Details</a>
</nav>

<div class="section-header">
  <h2>@Model.Name</h2>
</div>

<h2>Price: @Model.GetCostAsUSD()</h2>
<p>
  Rating: @(Model.GetAverageRatingAsString() != null ? Model.GetAverageRatingAsString() + " / 5" : "No ratings...")
</p>
<p>@Model.Description</p>

<div class="section-header">
  <h3>Reviews</h3>
</div>

<a href=@Url.Action("AddReviewToProduct", "Reviews", new { productId = Model.Id }) class="btn btn-go">Add Review</a>

@if (Model.Reviews == null || Model.Reviews.Count == 0)
{
  <p>No reviews available...</p>
}

@foreach (var review in Model.Reviews)
{
  <div class="review">
    <div class="review-header">
      <div class="review-author">
        <p>@review.Author</p>
      </div>
      <div class="review-rating">
        <p>User Rating: @review.Rating / 5</p>
      </div>
    </div>
    <div class="review-body">
      <p>@review.ContentBody</p>
    </div>
  </div>
}

<div id="details-delete-item-btn">
  <a href=@Url.Action("RemoveProduct", new { id = Model.Id }) class="btn btn-cancel">Delete Item</a>
</div>