@model IEnumerable<GummiBearKingdom.Models.Product>

@{
  ViewData["Title"] = "Gummi Kingdom - Products";
  Layout = "_Layout";
}

<nav class="main-nav">
  <a href=@Url.Action("Index", "Home")>Home</a>
  <a class="active">Products</a>
</nav>

<div class="section-header">
  <h2>Our Inventory</h2>
</div>

@foreach (var product in Model)
{
  <p>
    @Html.ActionLink(@product.Name, "Details", new { id = product.Id }) -
    @product.GetCostAsUSD()
    [@Html.ActionLink("Delete", "RemoveProduct", new { id = product.Id })]
  </p>
}

<p>
  @Html.ActionLink("Add a product", "AddProduct") | 
  @Html.ActionLink("Remove all products", "RemoveAllProducts")
</p>