@model IEnumerable<GummiBearKingdom.Models.Product>

@{
  ViewData["Title"] = "Gummi Kingdom - Products";
  Layout = "_Layout";
}

@foreach(var product in Model)
{
  <p>
    @Html.ActionLink(@product.Name, "Details", new { id = product.Id }) -
    @product.GetCostAsUSD() 
    [@Html.ActionLink("Delete", "RemoveProduct", new { id = product.Id })]
  </p>
}

<h2>Products</h2>

@Html.ActionLink("Add a product", "AddProduct")

@Html.ActionLink("Back", "Index", "Home")